@model List<Pizza>
@{
    ViewData["Title"] = "All";
}

<div>
    <h2 class="display-3">List of pizzas</h2>
    <div class="d-flex gap-3">
        @foreach(var pizza in Model)
        {
            <div class="card">
                <img class="card-img-bottom" src="https://www.foodandwine.com/thmb/Wd4lBRZz3X_8qBr69UOu2m7I2iw=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/classic-cheese-pizza-FT-RECIPE0422-31a2c938fc2546c9a07b7011658cfd05.jpg" />
                <div class="card-body">
                    <h4 class="card-title">@pizza.Name</h4>
                    @if (pizza.IsOnPromotion)
                    {
                        <p class="card-text text-success">@pizza.Price</p>
                    }
                    else
                    {
                        <p class="card-text">@pizza.Price</p>
                    }
                </div>
            </div>
        }
    </div>
</div>
