@model List<Order>
@{
    ViewData["Title"] = "Orders";
}

<div class="mb-3">
    <h2 class="display-2">List all orders</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Customer</th>
                <th>Pizzas</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var order in Model)
            {
                <tr>
                    <td>@order.Id</td>
                    <td>@order.Customer</td>
                    <td>
                        @order.PizzasString()
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="mb-3 text-center">
        <a asp-controller="Order" asp-action="Details" asp-route-id="1" class="">Details</a>&nbsp;&nbsp;&nbsp;<a asp-controller="Order" asp-action="JsonData" class="">Json Data</a>&nbsp;&nbsp;&nbsp;<a asp-controller="Home" asp-action="Index" class="">Back</a>
    </div>
</div>