@{
    ViewData["Title"] = "About";
}
<div>
    <h2 class="display-2">About Us</h2>
    <p class="display-6">Bacon ipsum dolor amet bresaola bacon leberkas pork loin strip steak drumstick burgdoggen doner pork prosciutto. Pastrami frankfurter pig pork chop, flank porchetta leberkas. Flank venison short loin, frankfurter brisket ham hock short ribs corned beef salami jowl fatback. Jowl pork chop drumstick beef ball tip, pork pork loin strip steak landjaeger cupim cow burgdoggen. Shankle brisket cow bacon, short ribs picanha ham hock leberkas spare ribs doner. Kielbasa spare ribs pork chop, brisket turducken sausage pig.</p>
</div>
